<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Custom css style sheet, with googles apis for the fonts Merriweather, Raleway and Roboto Mono -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Raleway:wght@400;600;700&family=Roboto+Mono:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">

    <!-- Title -->
    <title>{% block title %}FoodieVent Base{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">

    <main class="flex-grow-1">
        <!-- Header -->
        <header>

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" a href="{{ url_for('main.index') }}">FoodieVent</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if current_user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('events.create') }}">Create Event</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('users.display_booking_history') }}">Booking
                                    History</a>
                            </li>

                            <!-- Wrap toggle + dropdown in one li -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Sign-out {{ current_user.first_name }} {{ current_user.surname }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Sign-in
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ url_for('auth.register') }}">Register</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('auth.login') }}">Login</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                        <form class="d-flex" action="{{ url_for('main.search') }}#upcoming-event" method="get"
                            role="search">
                            <input class="form-control me-2 searchbar" type="search" name="search" id="searchNav"
                                placeholder="Search FoodieVent" aria-label="Search FoodieVent">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
            </nav>
            <!-- Code for using Flask flash -->
            <div class="container-fluid">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">x</button>
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            {% block header %}

            {% endblock %}

        </header>

        {% block content %}

        {% endblock %}

    </main>

    <footer class="foodievent-footer mt-auto py-0">
        <div class="footer-inner py-3">
            <div class="container-footer">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item"><a href="{{ url_for('main.index') }}"
                            class="nav-link px-2 text-body-secondary">Home</a></li>
                    <li class="nav-item"><a href="{{ url_for('main.index', _anchor='container-search') }}"
                            class="nav-link px-2 text-body-secondary">Search</a></li>
                    <li class="nav-item"><a href="{{ url_for('users.display_booking_history') }}"
                            class="nav-link px-2 text-body-secondary">Booking</a></li>
                    <li class="nav-item"><a href="{{ url_for('auth.logout') }}"
                            class="nav-link px-2 text-body-secondary">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{{ url_for('main.index') }}"
                            class="nav-link px-2 text-body-secondary">Home</a></li>
                    <li class="nav-item"><a href="{{ url_for('main.index', _anchor='container-search') }}"
                            class="nav-link px-2 text-body-secondary">Search</a></li>
                    <li class="nav-item"><a href="{{ url_for('auth.register') }}"
                            class="nav-link px-2 text-body-secondary">Register</a></li>
                    <li class="nav-item"><a href="{{ url_for('auth.login') }}"
                            class="nav-link px-2 text-body-secondary">Login</a></li>
                    {% endif %}
                </ul>
                <p class="nav2 text-center text-body-secondary mb-0">© 2025 FoodieVent, Inc</p>
            </div>
        </div>
    </footer>
    <!-- Bootstrap js end of page -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>