<!-- Extension inherits from base.html file -->
{% extends "base.html" %}

<!-- Title -->
{% block title %}FoodieVent Event Details Page{% endblock %}

{% block header %}
<!-- Header begins-->
<!--Event details page Jumbotron-->
<div class="p-5 detailjumbotronimage rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Event Details</h1>
    <p class="col-md-8 fs-4">Are you interested in this event? Please read below for more specific event
      details and how to book tickets.</p>
  </div>
</div>
<!-- Header ends -->
{% endblock %}


{% block content %}
<!-- Main begins -->
<main>
  <!-- Flex container begins -->
  <div class="container-flex">

    <!--Event details page title -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div>
          <h1 id="page-header" class="page-header">Event Details Page</h1>
        </div>
      </div>
    </div>

    <!--Title of event row-->
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h2 id="title-detail" class="detail-header">Mid-Autumn Festival 2025</h2>
        <div class="row">
          <div class="col-12 col-md-4">
            <img src="static/img/MooncakeFestival.jpg" alt="Mid-Autumn Festival"
              class="img-fluid img-thumbnail event-image-cap">
          </div>
        </div>
      </div>
    </div>

    <!-- Title of event status row-->
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h2 id="status-detail" class="detail-header">Event Status</h2>
        <p class="descriptive">
          The status of Mid-Autumn Festival 2025 is: <span class="badge rounded-pill bg-success">Open</span>
        </p>
      </div>
    </div>

    <!-- Title of event category row-->
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h2 id="category-detail" class="detail-header">Event Category</h2>
        <p class="descriptive">
          The category of Mid-Autumn Festival 2025 is: <span class="badge rounded-pill bg-success">Cultural</span>
        </p>
      </div>
    </div>

    <!-- Description of event row -->
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h2 id="description-detail" class="detail-header">Description</h2>
        <p class="descriptive">
          The Mid-Autumn Festival is a Chinese cultural food festival surrounding
          Mooncakes. Visit now at the Brisbane venue as many gather to celebrate
          Chinese food culture.
        </p>
      </div>
    </div>

    <!-- Date of event row -->
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h2 id="date-detail" class="detail-header">Date</h2>
        <p class="descriptive">
          The Mid-Autumn Festival 2025 will be held on 06/10/2025, with start and end times indicated below.
        </p>
      </div>
    </div>

    <!-- Start time of event row -->
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h2 id="start-time-detail" class="detail-header">Start Time</h2>
        <p class="descriptive">
          The Mid-Autumn Festival 2025 will begin at 4:00pm AEST UTC/GMT +10. The Mid-Autumn Festival is known for
          having a large line of eager participants, so it is recommended to arrive early.
        </p>
      </div>
    </div>

    <!-- End time of event row -->
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h2 id="end-time-detail" class="detail-header">End Time</h2>
        <p class="descriptive">
          The Mid-Autumn Festival 2025 will conclude at 11:00pm AEST UTC/GMT +10. The Mid-Autumn Festival ends late
          at night. It is recommended to prepare transport for your departure prior to the event.
        </p>
      </div>
    </div>

    <!-- Location of event row with google maps embedded -->
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h2 id="venue-detail" class="detail-header">Venue</h2>
        <p class="descriptive">
          The Mid-Autumn Festival 2025 is located at Chinatown Mall. 33 Duncan St, Fortitude Valley QLD 4006.
        </p>
        <p>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.34047232225!2d153.03119297545862!3d-27.458657776326035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b9159f26b169b0b%3A0xe862f341887a48f9!2sChinatown%20Mall!5e0!3m2!1sen!2sau!4v1756686852213!5m2!1sen!2sau"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>
      </div>
    </div>

    <!-- Vendors of event row -->
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h2 id="vendor-detail" class="detail-header">Vendors</h2>
        <p class="descriptive">
          The following Vendors will be participating in the Mid-Autumn Festival 2025:
          Sunnybank Jade Moon Bakery, Story Bridge Lotus & Yolk, Riverlight Mooncake House, Fortitude Valley
          Osmanthus Patisserie, South Bank Black Sesame Co.
        </p>
      </div>
    </div>

    <!-- Sampling in event row -->
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h2 id="sampling-detail" class="detail-header">Sampling</h2>
        <p class="descriptive">
          The Mid-Autumn Festival 2025 does not provide Free Sampling. Vendors pre-prepare Mooncakes rather than
          preparing for order, meaning stock is often limited at this festival. We apologise for this inconvenience.
        </p>
      </div>
    </div>

    <!-- Takeaway in event row -->
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h2 id="take-away-detail" class="detail-header">Takeaway</h2>
        <p class="descriptive">
          The Mid-Autumn Festival 2025 provides takeaway options. Although Mooncakes are commonly consumed at stalls
          served with traditional green tea, they are also perfect for storing in takeaway containers to consume at
          a later time.
        </p>
      </div>
    </div>

    <!-- Tickets remaining row -->
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h2 id="take-away-detail" class="detail-header">Tickets</h2>
        <p class="descriptive">
          Amount of tickets remaining: <span class="badge rounded-pill bg-success">200 Available</span>
        </p>
        <p class="descriptive">
          Choose from child or adult tickets to participate.
        </p>
        <p class="descriptive">
          Like what you've read?
        </p>
      </div>
    </div>

    <!-- Modal book tickets button -->

    <div class="row mb-5">
      <div class="col-12 col-md-8 offset-md-4">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#bookModal">Book
          Tickets</button>
      </div>
    </div>
    <!-- Form for posting a comment with text area -->
    <form>
      <div class="row">
        <div class="col-12 col-md-8 offset-md-4">
          <h2 id="comment-below-detail" class="detail-header">Post Comment</h2>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-4 offset-md-4">
          <textarea class="form-control" id="inputComment" name="description" rows="5"
            placeholder="Want to share your thoughts? Post a comment here."></textarea>
        </div>
      </div>
      <!-- Modal button to post comment -->
      <div class="row mb-5">
        <div class="col-12 col-md-8 offset-md-4">
          <button type="reset" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#postCommentModal">Post
            Comment</button>
        </div>
      </div>
    </form>

    <!-- Comments section row -->
    <div class="row">
      <div class="col-12 col-md-8 offset-md-4">
        <h2 id="take-away-detail" class="detail-header">Comments</h2>
      </div>
    </div>

    <!-- Three individual comments, posted in the format of a bootstrap list group -->
    <!-- If user clicks any comment, they will be jumped and prompted to write their own comment -->
    <div class="col-12 col-md-4 offset-md-4">
      <a href="#inputComment" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Comment #0003</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">I had the time of my life at the last Mid-Autumn Festival! Met some new friends and were
          meeting
          up again for this one.</p>
        <small class="text-muted">Posted by JohnBrown776</small>
      </a>
      <a href="#inputComment" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Comment #0002</h5>
          <small class="text-muted">8 days ago</small>
        </div>
        <p class="mb-1">I was nervous at first, and was thinking of leaving a negative review. I've met the vendors
          attending this festival, food is amazing but service is horrendous. Anyway, I guess this is going to be a
          neutral review then. Try attending if you live in Queensland, public transport can take you to Fortitude
          Valley easily. I'm not too sure what I'm trying to say here... but anyway, thanks for reading this. I'm not
          sure what else to write... maybe this was too long. But regardless, maybe attend? I don't know.</p>
        <small class="text-muted">Posted by SamuelTheGreatest1</small>
      </a>
      <a href="#inputComment" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Comment #0001</h5>
          <small class="text-muted">2 weeks ago</small>
        </div>
        <p class="mb-1">Is anyone else attending this? I was wondering if anyone wanted to do the Mooncake eating
          contest with me!!!</p>
        <small class="text-muted">Posted by JasmineCat</small>
      </a>
    </div>
    <!-- Flex container ends -->
  </div>

  <!-- Main ends -->



  <!-- Modal windows used in the event details page -->

  <!-- Modal window for booking tickets, with two categories Adult and Child -->
  <div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookTicketsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Book Tickets</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="tickets" class="form-label">Purchase how many tickets? (Ticket Type: Adult)</label>
              <input type="number" class="form-control" id="tickets" name="tickets" min="1"
                placeholder="Enter number of tickets (Adult)">
            </div>
            <div class="mb-3">
              <label for="tickets" class="form-label">Purchase how many tickets? (Ticket Type: Child)</label>
              <input type="number" class="form-control" id="tickets" name="tickets" min="1"
                placeholder="Enter number of tickets (Child)">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <!-- Confirm order closes window and opens Order Confirmed Modal -->
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-dismiss="modal"
            data-bs-target="#orderConfirmedModal">Confirm order</button>
          <!-- Cancel order closes window -->
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel order</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Order confirmed modal window, with a thank you-->
  <div class="modal fade" id="orderConfirmedModal" tabindex="-1" aria-labelledby="orderConfirmedLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content text-center">
        <div class="modal-header border-0">
          <h1 class="modal-title fs-5" id="orderConfirmedLabel">Order Confirmed</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Thank you for purchasing.
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Post comment modal window with a thank you message-->
  <div class="modal fade" id="postCommentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Comment Posted</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">Thank you for sharing your thoughts.</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}