<!-- Extension inherits from base.html file -->
{% extends "base.html" %}

<!-- Title -->
{% block title %}FoodieVent Home Page{% endblock %}

{% block header %}
<!-- Homepage Jumbotron -->
<div class="p-5 mb-1 homejumbotronimage rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">FoodieVent</h1>

    {% if current_user.is_authenticated %}
    <p class="col-md-8 fs-4">
      Welcome back, {{ current_user.first_name }} {{ current_user.surname }}.
      Browse your booking history for upcoming events, or spread the fun by hosting an event.
    </p>
    <a href="{{ url_for('users.display_booking_history') }}" class="btn btn-success btn-lg">Booking History</a>
    <a href="{{ url_for('events.create') }}" class="btn btn-success btn-lg">Create Event</a>
    {% else %}
    <p class="col-md-8 fs-4">
      FoodieVent is a Food and Drinks Festival Event Manager.
      Feel free to browse, or join in on the fun by participating.
    </p>
    <a href="{{ url_for('auth.register') }}" class="btn btn-success btn-lg">Register Now</a>
    <a href="{{ url_for('auth.login') }}" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
</div>
<!-- Header ends -->
{% endblock %}

{% block content %}
<!-- Flex container begins -->
<div class="container-flex">

  <!-- First row below header-->
  <div class="row">
    <!-- Carousel with backwards and forwards buttons -->
    <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/img/Festival.jpg" class="d-block" alt="Festival">
        </div>
        <div class="carousel-item">
          <img src="static/img/Friends.jpg" class="d-block" alt="Friends">
        </div>
        <div class="carousel-item">
          <img src="static/img/Food.jpg" class="d-block" alt="Foods">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Flex container ends -->
</div>

<!-- Flex container begins -->
<div class="container-flex">
  <!-- Second row -->
  <div class="row">
    <!-- Title of events -->
    <h1 id="page-header" class="page-header">All recent upcoming Food and Drink Festivals</h1>

    <!-- Category filter dropdown, featuring specific event types that jump the screen to the category sections -->
    <div class="dropdown mb-4 text-center">
      <button class="btn btn-success dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown"
        aria-expanded="false">
        Browse by Category
      </button>
      <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
        <li><a class="dropdown-item" href="#page-header">All</a></li>
        <li><a class="dropdown-item" href="#food-event">Food</a></li>
        <li><a class="dropdown-item" href="#drink-event">Drink</a></li>
        <li><a class="dropdown-item" href="#cultural-event">Cultural</a></li>
        <li><a class="dropdown-item" href="#dietary-event">Dietary</a></li>
      </ul>
    </div>
  </div>

  <!-- Food event section row -->
  <div class="row">
    <h2 id="upcoming-event" class="category-header">Upcoming events</h2>
  </div>

  <div class="container">
    <div class="row mt-5 mb-5 justify-content-center">
      <div class="col-md-10">
        <div class="media border p-3 d-flex justify-content-start">
          <div class="card-group">
            {% for event in events %}
            <div class="card mx-3">
              <img class="card-img-top" src="{{ event.image }}" alt="event picture">
              <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text">{{ event.description }}</p>
              </div>
              <div class="card-footer"><a href="{{ url_for('events.show', event_id=event.id) }}"
                  class="btn btn-success"> View Details
                </a></div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}