<!-- Extension inherits from base.html file -->
{% extends "base.html" %}

<!-- Title -->
{% block title %}FoodieVent Home Page{% endblock %}

{% block header %}
<!-- Homepage Jumbotron -->
<div class="p-5 mb-1 homejumbotronimage rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">FoodieVent</h1>

    {% if current_user.is_authenticated %}
    <p class="col-md-8 fs-4">
      Welcome back, {{ current_user.first_name }} {{ current_user.surname }}.
      Browse your booking history for upcoming events, or spread the fun by hosting an event.
    </p>
    <a href="{{ url_for('users.display_booking_history') }}" class="btn btn-success btn-lg">Booking History</a>
    <a href="{{ url_for('events.create') }}" class="btn btn-success btn-lg">Create Event</a>
    {% else %}
    <p class="col-md-8 fs-4">
      FoodieVent is a Food and Drinks Festival Event Manager.
      Feel free to browse, or join in on the fun by participating.
    </p>
    <a href="{{ url_for('auth.register') }}" class="btn btn-success btn-lg">Register Now</a>
    <a href="{{ url_for('auth.login') }}" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
</div>
<!-- Header ends -->
{% endblock %}

{% block content %}
<!-- Flex container begins -->
<div class="container-flex">

  <!-- First row below header-->
  <div class="row">
    <!-- Carousel with backwards and forwards buttons -->
    <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/img/Festival.jpg" class="d-block" alt="Festival">
        </div>
        <div class="carousel-item">
          <img src="static/img/Friends.jpg" class="d-block" alt="Friends">
        </div>
        <div class="carousel-item">
          <img src="static/img/Food.jpg" class="d-block" alt="Foods">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Flex container ends -->
</div>

<!-- Flex container begins -->
<div class="container-flex">
  <!-- Second row -->
  <div class="row">
    <!-- Title of events -->
    <h1 id="page-header" class="page-header">Upcoming Food and Drink Festivals</h1>

    <!-- Category filter dropdown, featuring specific event types that jump the screen to the category sections -->
    <div class="dropdown mb-4 text-center">
      <button class="btn btn-success dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown"
        aria-expanded="false">
        Browse by Category
      </button>
      <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
        <li><a class="dropdown-item" href="#page-header">All</a></li>
        <li><a class="dropdown-item" href="#food-event">Food</a></li>
        <li><a class="dropdown-item" href="#drink-event">Drink</a></li>
        <li><a class="dropdown-item" href="#cultural-event">Cultural</a></li>
        <li><a class="dropdown-item" href="#dietary-event">Dietary</a></li>
      </ul>
    </div>
  </div>

  <!-- Food event section row -->
  <div class="row">
    <h2 id="food-event" class="category-header">Food Events</h2>
  </div>

  <!-- Food events cards -->
  <div class="row g-4">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 1 -->
      <div class="card h-100 w-100">
        <img src="static/img/BurgerMeet.jpg" class="card-img-top" alt="BurgerMeet">
        <div class="card-body">
          <h5 class="card-title">BurgerMeet 3</h5>
          <p class="card-text">All American Burgers handcrafted by the Smith brothers migrating from California.
            Their third big event, for the third year in a row.</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-success">Open</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 2 -->
      <div class="card h-100 w-100">
        <img src="static/img/ColdCutsAndWine.jpg" class="card-img-top alt" alt="Cold Cuts and Wine">
        <div class="card-body">
          <h5 class="card-title">ColdCuts&Wine</h5>
          <p class="card-text">ColdCuts&Wine, a classic combination. Come have a taste of the hard work of local
            Brisbane farmers as they compete for first place regarding the best tasting cold cuts around.</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-warning">Inactive</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 3 -->
      <div class="card h-100 w-100">
        <img src="static/img/TasteOfTakoyaki.jpg" class="card-img-top" alt="Taste of Takoyaki">
        <div class="card-body">
          <h5 class="card-title">Taste of Takoyaki</h5>
          <p class="card-text">Taste of Takoyaki. Flavours from Japan, for seafood lovers featuring steaming hot
            dough balls filled with octopus meat.</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-secondary">Sold Out</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 4 -->
      <div class="card h-100 w-100">
        <img src="static/img/PizzaPlate.jpg" class="card-img-top" alt="PizzaPlate">
        <div class="card-body">
          <h5 class="card-title">PizzaPlate</h5>
          <p class="card-text">Meet up with your future friends! Turn up solo and pay for your individual entry,
            then sit down at a table to speak with strangers over a plate of pizza. Free refills!</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-danger">Cancelled</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>

    <!-- Drink event section row -->
    <div class="row g-4">
      <h2 id="drink-event" class="category-header">Drink Events</h2>
    </div>

    <!-- Drink event section cards -->
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 1 -->
      <div class="card h-100 w-100">
        <img src="static/img/Lemonade.jpg" class="card-img-top" alt="Lemonade">
        <div class="card-body">
          <h5 class="card-title">Backyard Lemonade</h5>
          <p class="card-text">Backyard Lemonade, a Lemonade stand that hit the ground running with immediate
            success into rapid expansion. Visit for the taste of freshly squeezed lemonade, just like how it was as
            a kid.</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-success">Open</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 2 -->
      <div class="card h-100 w-100">
        <img src="static/img/ColdPour2025.jpg" class="card-img-top" alt="Cold Pour 2025">
        <div class="card-body">
          <h5 class="card-title">Cold Pour 2025</h5>
          <p class="card-text">Cold Pour 2025, unbeerably great. That's what they're saying about the beer at Cold
            Pour 2025. Great quality, and cheaply sourced, because it's not about causing a fuss.</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-warning">Inactive</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 3 -->
      <div class="card h-100 w-100">
        <img src="static/img/Bobafest2026.jpg" class="card-img-top" alt="Bobafest2026">
        <div class="card-body">
          <h5 class="card-title">Bobafest2026</h5>
          <p class="card-text">Bobafest2025 was such a success, the planning for Bobafest2026 is underway.
            Everyone's favourite drink, but who does it the best? Find out at Bobafest2026 as a record 30 different
            vendors will be competing for most sales.</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-secondary">Sold Out</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 4 -->
      <div class="card h-100 w-100">
        <img src="static/img/WiningDown.jpg" class="card-img-top" alt="Wining down">
        <div class="card-body">
          <h5 class="card-title">Wining Down</h5>
          <p class="card-text">Ever wanted to wind down after a hard day of work? Well you don't need to be a wine
            connoisseur to come to Wining Down, a short wine tasting event on a Friday after work.</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-danger">Cancelled</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>

    <!-- Cultural event section row -->
    <div class="row g-4">
      <h2 id="cultural-event" class="category-header">Cultural Events</h2>
    </div>

    <!-- Cultural event section cards -->
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 1 -->
      <div class="card h-100 w-100">
        <img src="static/img/MooncakeFestival.jpg" class="card-img-top" alt="Mid-Autumn Mooncake Festival">
        <div class="card-body">
          <h5 class="card-title">Mid-Autumn Festival 2025</h5>
          <p class="card-text">The Mid-Autumn Festival, is a chinese cultural food festival surrounding Mooncakes.
            Visit now at the Brisbane venue as many gather to celebrate chinese food culture.</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-success">Open</span></p>
          <a href="{{ url_for('events.show', event_id=4) }}" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 2-->
      <div class="card h-100 w-100">
        <img src="static/img/HanamiMatsuri.jpg" class="card-img-top" alt="Hanami Matsuri">
        <div class="card-body">
          <h5 class="card-title">Hanami Matsuri</h5>
          <p class="card-text">Hanami Matsuri a yearly festival held in April where Japanese sakura trees are the
            focal point. Eat sakura flavoured japanese treats such as sakura dango, and sakura mochi.</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-warning">Inactive</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 3 -->
      <div class="card h-100 w-100">
        <img src="static/img/OktoberfestBrisbane2025.jpg" class="card-img-top" alt="OktoberfestBrisbane2025">
        <div class="card-body">
          <h5 class="card-title">Oktoberfest Brisbane 2025</h5>
          <p class="card-text">Experience German Culture at Oktoberfest Brisbane 2025! A traditional festival where
            many gather together to enjoy German food and beer.</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-secondary">Sold Out</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 4 -->
      <div class="card h-100 w-100">
        <img src="static/img/EidalFitr.jpg" class="card-img-top" alt="Eidal-Fitr">
        <div class="card-body">
          <h5 class="card-title">Eid al-Fitr</h5>
          <p class="card-text">Eid al-Fitr is celebrated by Muslims worldwide as it marks the end of the month-long,
            dawn-to-dusk fasting during Ramadan. Experience Muslim culture from those in the local areas of
            Brisbane, as they break their yearly fasting period.</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-danger">Cancelled</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>

    <!-- Dietary event section -->

    <div class="row g-4">
      <h2 id="dietary-event" class="category-header">Dietary Events</h2>
    </div>

    <!-- Dietary event section cards -->
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 1 -->
      <div class="card h-100 w-100">
        <img src="static/img/EatYourGreens.jpg" class="card-img-top" alt="EatYourGreens">
        <div class="card-body">
          <h5 class="card-title">EatYourGreens</h5>
          <p class="card-text">Celebrate eating your greens as mum would always say! A vegan function focused around
            fresh green vegetables, organic and straight from local Brisbane farms.</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-success">Open</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 2 -->
      <div class="card h-100 w-100">
        <img src="static/img/VeggiePatty.jpg" class="card-img-top" alt="VeggiePatty">
        <div class="card-body">
          <h5 class="card-title">VeggiePatty</h5>
          <p class="card-text">Try VeggiePatty, a brand new health conscious way to eat a burger. A small local
            business looking to provide insight into the journey of veganism, after a past of meat consumption.</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-warning">Inactive</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 3 -->
      <div class="card h-100 w-100">
        <img src="static/img/IndolgeHalal.jpg" class="card-img-top" alt="IndolgeHalal">
        <div class="card-body">
          <h5 class="card-title">Indolge Halal</h5>
          <p class="card-text">Indolge Halal provides traditional Indonesian food, representing a majority muslim
            background of the country in Vendor's serving only certified Halal food.</p>
          <p class="card-text">Status: Sold <span class="badge rounded-pill bg-secondary">Sold Out</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <!-- Card 4 -->
      <div class="card h-100 w-100">
        <img src="static/img/StraightFromTheSoy.jpg" class="card-img-top" alt="StraightFromTheSoy">
        <div class="card-body">
          <h5 class="card-title">StraightFromTheSoy</h5>
          <p class="card-text">Coffee and a sweet, a universal joy. Even us with lactose intolerance should be able
            to enjoy something like that. So enjoy, with StraightFromTheSoy.</p>
          <p class="card-text">Status: <span class="badge rounded-pill bg-danger">Cancelled</span></p>
          <a href="eventdetails.html" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Flex container ends -->
</div>
<!-- Main ends -->
{% endblock %}