<!-- Extension inherits from base.html file -->
{% extends "base.html" %}

{% block title %}FoodieVent - User Booking History Page{% endblock %}

{% block header %}
<!-- Booking History page Jumbotron -->
<div class="p-5 bookingjumbotronimage rounded-3">
  <div class="jumbotronback container-fluid py-5">
    <h1 class="display-5 fw-bold">User's Booking History</h1>
    <p class="col-md-8 fs-4">
      Are you excited for your upcoming events?
    </p>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- Flex container begins -->
<div class="container-fluid">
  <!-- title row -->
  <div class="row">
    <div class="col-12">
      <h1 id="page-header" class="page-header">
        Viewing all booked events for {{ current_user.first_name }} {{ current_user.surname }}
      </h1>
    </div>
  </div>

  <div class="row">
    {% for order in orders %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2">
      <div class="card w-100 h-100">
        <img class="card-img-top" src="{{ order.event.image }}" alt="event picture">
        <div class="card-body">
          <h5 class="card-title">{{ order.event.title }}</h5>
          <span class="badge bg-success">Order #{{ order.id }}</span>
          <p class="card-text">{{ order.event.description }}</p>
          <p class="card-text">Tickets: {{ order.tickets_purchased }}</p>
          <p class="card-text">Price per ticket: ${{ order.event.ticket_price }}</p>
          <p class="card-text">Amount: ${{ order.purchased_amount }}</p>
          <p class="card-text">Booked at: {{ order.booking_time.strftime('%Y-%m-%d %H:%M') }}</p>
        </div>
        <div class="card-footer">
          <a href="{{ url_for('events.show', event_id=order.event.id) }}" class="btn btn-success">View Event</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}