{% extends 'base.html' %}
<!--This is extending the basic layout already in base.html -->
{% from 'bootstrap5/form.html' import render_form %}
<!--Ensures consistent bootstrap-->
{% block content %}

<!-- Purchase form container -->
    <div class="row mt-5">
      <!--Centers the form on the screen for alignment -->
      <div class="col-12 col-md-10 col-lg-8 offset-md-2">
        <!-- Renders the flask form utilising bootstrap-->
        <!-- Using buttom map dictionary to make submit button appear green-->
        {{ render_form(form, button_map={'submit': 'success'}) }}
      </div>
    </div>
  </div>

{% endblock %}