<!-- Extension inherits from base.html file -->
{% extends "base.html" %}

{% block header %}
<!-- Event Creation and Update page Jumbotron -->
<div class="p-5 creationjumbotronimage rounded-3">
    <div class="jumbotronback container-fluid py-5">
        <h1 class="display-5 fw-bold">Create an Event</h1>
        <p class="col-md-8 fs-4">At FoodieVent, it's not just an event. Share memories, bring people
            together. Enjoy food, drinks, and company. Start creating now.</p>
    </div>
</div>
{% endblock %}

{% block title %}FoodieVent - Event Creation and Update Page{% endblock %}

{% block content %}
<div class="container-flex">

    <!-- Event creation and update page title row -->
    <div class="row">
        <div>
            <h1 id="page-header" class="page-header">FoodieVent Event Creation/Update Page</h1>
        </div>
    </div>

    <!-- Form begins which requests user to input information to create or update an event -->
    <form>
        <!-- Column formatting for the form for all rows -->
        <div class="col-12 col-md-10 col-lg-8 offset-md-2">
            <div class="row mb-3">
                <!-- Form row for inputting title of event -->
                <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
                <div class="col-12 col-sm-9">
                    <input type="text" class="form-control" id="inputTitle" name="title"
                        placeholder="Enter Name of this event">
                </div>
            </div>
            <!-- Form row for inputting description of event -->
            <div class="row mb-3">
                <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
                <div class="col-12 col-sm-9">
                    <textarea class="form-control" id="inputDescription" name="description" rows="5"
                        placeholder="Enter Description of this event"></textarea>
                </div>
            </div>
            <!-- Form row for inputting image of event, file upload must be an image formatted file -->
            <div class="row mb-3">
                <label for="inputImage" class="col-sm-2 col-form-label">Image</label>
                <div class="col-12 col-sm-9">
                    <input class="form-control" type="file" id="event-image" name="event-image" accept="image/*">
                </div>
            </div>
            <!-- Form row for inputting date of event -->
            <div class="row mb-3">
                <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
                <div class="col-12 col-sm-9">
                    <div class="form-text">Enter the date of this event</div>
                    <input type="date" class="form-control" id="inputTitle" name="title">
                </div>
            </div>
            <!-- Form row for inputting start time of event -->
            <div class="row mb-3">
                <label for="start-time" class="col-sm-2 col-form-label">Start Time</label>
                <div class="col-12 col-sm-9">
                    <div class="form-text">Enter the start time of this event</div>
                    <input type="time" class="form-control" id="start-time" name="start-time">
                </div>
            </div>
            <!-- Form row for inputting end time of event -->
            <div class="row mb-3">
                <label for="end-time" class="col-sm-2 col-form-label">End Time</label>
                <div class="col-12 col-sm-9">
                    <div class="form-text">Enter the end time of this event</div>
                    <input type="time" class="form-control" id="end-time" name="tickets">
                </div>
            </div>
            <!-- Form row for inputting venue of event -->
            <div class="row mb-3">
                <label for="inputVenue" class="col-sm-2 col-form-label">Venue</label>
                <div class="col-12 col-sm-9">
                    <input type="text" class="form-control" id="inputVenue" name="venue"
                        placeholder="Enter Venue of this event">
                </div>
            </div>
            <!-- Form row for inputting vendors of event -->
            <div class="row mb-3">
                <label for="inputVendor" class="col-sm-2 col-form-label">Vendor/s</label>
                <div class="col-12 col-sm-9">
                    <input type="text" class="form-control" id="inputVendor" name="vendors"
                        placeholder="Enter Vendor/s participating in this event">
                </div>
            </div>
            <!-- Form row for inputting tickets available for event, must be a number value -->
            <div class="row mb-3">
                <label for="tickets" class="col-sm-2 col-form-label">Tickets Available</label>
                <div class="col-12 col-sm-9">
                    <input type="number" class="form-control no-spinners" id="tickets" name="tickets" min="1"
                        placeholder="Enter number of tickets">
                </div>
            </div>
            <!-- Form row for radio buttons to select one individual category for the event (food, drink, cultural, or dietary)-->
            <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0">Event Category Type</legend>
                <div class="col-12 col-sm-9">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                            checked>
                        <label class="form-check-label" for="gridRadios1">
                            Food
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Drink
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                        <label class="form-check-label" for="gridRadios3">
                            Cultural
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                        <label class="form-check-label" for="gridRadios4">
                            Dietary
                        </label>
                    </div>
                </div>

                <!-- Form row for a checkbox of the boolean whether the event has free sampling -->
            </fieldset>
            <div class="row mb-3">
                <div class="col-12 col-sm-9">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="samplingCheck">
                        <label class="form-check-label" for="samplingCheck">
                            Free Sampling at this event
                        </label>
                    </div>
                </div>
            </div>
            <!-- Form row for a checkbox of the boolean of whether the event provides takeaway -->
            <div class="row mb-3">
                <div class="col-12 col-sm-9">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="takeawayCheck">
                        <label class="form-check-label" for="takeawayCheck">
                            Provide Takeaway at this event
                        </label>
                    </div>
                </div>
            </div>
            <!-- Form row for modal button to create event-->
            <div class="row mb-3">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <button type="reset" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#createModal">Create Event</button>
                </div>
            </div>
            <!-- Form row for modal button of updating page (event)-->
            <div class="row mb-3">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <button type="reset" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#updateModal">Update Page</button>
                </div>
            </div>
            <!-- Column formatting ends for the form-->
        </div>
        <!-- Form ends -->
    </form>
    <!-- Flex container ends -->
</div>

<!-- Modal windows used in the event creation update page -->

<!-- Create Event modal window which thanks user for creating an event -->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Event Created</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Thank you for creating an event.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Update Page modal window which thanks user for updating the event page -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Page Updated</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Thank you for updating this event page.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}